{% extends 'layout.html' %}
{% block content %}
{% load crispy_forms_tags %}

<div class="row">
    <div class="col-12 col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                <br>
        <h1>AGREGAR CURSO</h1> 

<form action="{% url 'crear_curso' %}" method="POST">
    {% csrf_token %}

    {{form | crispy}}
    <br>
    <div class="d-flex justify-content-end">
        <button  type="submit" id="btnAgregar" class="btn btn-primary">Agregar</button>
    </div>
</form>
</div>
</div>
</div>
</div>

{% endblock %}